MIRAGE_CONFIG=config.json
MIRAGE_API_KEY=${MIRAGE_API_KEY}
MIRAGE_SERVICE_SIGNING_KEY=${MIRAGE_SERVICE_SIGNING_KEY}
MIRAGE_POSTGRES_DSN=${MIRAGE_POSTGRES_DSN}
MIRAGE_EVENT_BROKER_URL=${MIRAGE_EVENT_BROKER_URL}
MIRAGE_OIDC_CLIENT_SECRET=${MIRAGE_OIDC_CLIENT_SECRET}
MIRAGE_OBJECT_STORAGE_CREDENTIAL=${MIRAGE_OBJECT_STORAGE_CREDENTIAL}
